# no local development environment configurations
.vscode

# ruby files
.bundle
Gemfile.lock
.ruby-version
.ruby-gemset

# jekyll specific files
.jekyll-metadata
.jekyll-cache
_site/*

# local test and development environment
.env
tmp/*
