{% if site.cookie_consent.osano %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cmp.osano.com/6oZkkSK0ffDI15Co/6aa62508-7387-4a1b-bdfb-8ec2c9e6232c/osano.js"></script>
{% endif %}

{% if site.cookie_consent.consentmanager %}
<script type="text/javascript" data-cmp-ab="1" src="https://cdn.consentmanager.net/delivery/autoblocking/d590ed76816dd.js" data-cmp-host="a.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="1"></script>
{% endif %}
